<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Atacadinho</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
</head>
<body class="bg-secondary-subtle">
    <nav class="navbar bg-body-tertiary mb-5">
        <div class="container-fluid">
          <a class="text-center navbar-brand nav-link text-danger ms-3 fs-2 " href="#">CARROS DE LUXO</a>
          <div class="d-flex" >
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="container rounded card bg-body-tertiary border-0 mb-3">
            <div class="row ">
                <div class="col-8">
                    <img src="img/carroCompra.webp" class="img-fluid rounded-start" alt="...">
                    <p class="card-text"><small class="text-body-secondary">Imagem meramente ilustrativa</small></p>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h2 class="card-title border-bottom">Mercedez Bens CLA 250</h2>
                        <p class="m-1 fs-3 text-danger">R$ 350.000,00</p>
                        <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iste voluptatibus voluptatem neque, numquam repellat deserunt possimus iusto eligendi necessitatibus explicabo ab laboriosam est magni, qui accusamus eius quas quos.</p>
                        <button class="btn btn-success mt-3 text-center">Finalizar Compra</button>
                    </div>
                </div>
                
            </div>
        </div>   

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>