<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Atacadinho</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
</head>
<body class="m-5 bg-secondary-subtle">
    <div class="container bg-white rounded">
        <div class="card border-0 mb-3" style="max-width: 540px;">
            <div class="row my-5">
                <div class="col">
                    <img src="https://media.cotabest.com.br/media/sku/farinha-de-trigo-tipo-1-pacote-1kg-coamo-pct-b0b0fe56bf.jpg" class="img-fluid rounded-start" alt="...">
                    <p class="card-text"><small class="text-body-secondary">Imagem meramente ilustrativa</small></p>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h2 class="card-title"><%= message %></h2>
                        <p class="m-1">Vendido por: ATACADÃO CD CAMPO GRANDE</p>
                        <p class="m-1">Frete: Grátis</p>
                        <p class="m-1">R$ 3,69 /PCT</p>
                        <p class="m-1">Mínimo de 10 PCT | Total de R$ 36,90 / 10 PCT</p>
                    </div>
                </div>
                
            </div>
        </div>    
        <p class="text-end pe-3 pb-2"><a href="/">Voltar a página inicial</a></p>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>